.fundo_imagem{
    background-image: url('./public/banner-home.png');
    height: 70vh;
    width: 99vw;
    background-repeat: no-repeat;
    background-position: center;
    
   
}

.cor_fundo{
    background-color: #F9DB79; 
}

.titulo{
    text-align: center;
    font-size: 72px;
    color:white;
    text-shadow: 3px 5px 2px #474747;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 120px
    
}

.imagem{
    height: 80vh;
    width: 50vw;
}

.banner{
    display: flex;
    text-align: center;
}

.primeiro{
    margin-top: 70px ;
    margin-bottom: 15px;
    
}

.descricao{
    
    margin-top: 15px;
    margin-bottom: 35px;
   
}

.mensagem{
    
    margin-top: 20px;
}